{% extends "market/base.html" %}
{% block title %}{{administrador.nombre_empresa}}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<h1 style="margin-top:80px">{{object.homepage}}</h1>
<div class="container">
  {% for proyecto in proyectos %}
  <div class="panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="panel-heading">{{proyecto}} - {{proyecto.valor_estimado}}</div>
      <div class="panel-body">
        {% for diseño in proyecto.diseños.disponibles %}
        {{diseño.archivo_original}}
        {% endfor %}
      </div>
      <a href="{% url "market:nuevo_diseño" slug_empresa=proyecto.slug_empresa nombre=proyecto.nombre %}">
        <div class="panel-footer">
          Enviar propuesta
        </div>
      </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
