{% extends "market/base.html" %}
{% block content %}
<h1></h1>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha de creación</th>
      <th>Estado</th>
      <th>Archivo original</th>
      <th>Archivo procesado</th>
      <th>Previsualización</th>
    </tr>
  </thead>
  <tbody>
    {% for diseño in diseño_list %}
    <tr>
      <td>{{diseño.email}}</td>
      <td>{{diseño.nombres}}</td>
      <td>{{diseño.apellidos}}</td>
      <td>{{diseño.fecha_creacion}}</td>
      <td>{{diseño.get_estado_display}}</td>
      <td><a href="{{diseño.archivo_original}}">Descargar</a></td>
      <td><a href="{{diseño.archivo_procesado}}">Descargar</a></td>
      <td><img style="width:20%" src="{{diseño.archivo_procesado.url}}"/></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
